# --- Python & FastAPI ---
__pycache__/
*.py[cod]
.mypy_cache/
backend/liau_env/
keys.py
.env

# --- Database ---
*.db
backend/scans.db

# --- React & Node ---
frontend/node_modules/
frontend/dist/
.DS_Store

# --- PyInstaller (Windows Build Files) ---
build/
dist/
*.spec
